<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.abcmart.dao.member.NewTable">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
     	생성일 : 2018-08-24 12:01:26
    -->
    <select id="select" parameterType="kr.co.abcmart.dto.member.NewTable" resultType="kr.co.abcmart.dto.member.NewTable">
		SELECT 
			 seq, title, name, reg_date
		FROM 
			new_table
		WHERE 
			 seq = #{seq, jdbcType=INTEGER} AND title = #{title, jdbcType=VARCHAR} 
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
     	생성일 : 2018-08-24 12:01:26
    -->
    <insert id="insert" parameterType="kr.co.abcmart.dto.member.NewTable">
		INSERT INTO new_table
			 ( seq, title, name, reg_date ) 

		VALUES 
			 ( seq = #{seq, jdbcType=INTEGER}, title = #{title, jdbcType=VARCHAR}, name = #{name, jdbcType=VARCHAR}, reg_date = #{regDate, jdbcType=TIMESTAMP} )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
     	생성일 : 2018-08-24 12:01:26
    -->
    <update id="update" parameterType="kr.co.abcmart.dto.member.NewTable">
		UPDATE new_table
		<set> 
			<if test="seq != null"> 
				seq = #{seq, jdbcType=INTEGER}, 
			</if> 
			<if test="title != null"> 
				title = #{title, jdbcType=VARCHAR}, 
			</if> 
			<if test="name != null"> 
				name = #{name, jdbcType=VARCHAR}, 
			</if> 
			<if test="regDate != null"> 
				reg_date = #{regDate, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 seq = #{seq, jdbcType=INTEGER} AND title = #{title, jdbcType=VARCHAR}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
     	생성일 : 2018-08-24 12:01:26
    -->
    <delete id="delete" parameterType="kr.co.abcmart.dto.member.NewTable">
		DELETE FROM new_table
		WHERE 
			 seq = #{seq, jdbcType=INTEGER} AND title = #{title, jdbcType=VARCHAR}  
    </delete>
</mapper>